$jia-orange: rgb(241,176,77);
$link-blue: #0071bc;
$text-grey: #888;

.content{
  margin: 80px auto 150px auto;
  width: 1000px;

  .moment{
    width: 1000px;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
    img{
      height: 400px;
      margin-right: 50px;
    }
    .caption{
      width: 250px;
      color: $text-grey;
      font-size: 16px;
      &.white{
        color: white;
      }
    }
  }

  .page.blue{
    position: absolute;
    margin-top: -300px;
    left: 0;
    width: 110%;
    min-width: 1120px;
    height: 1000px;
    background-color: rgb(80,172,223);
    z-index: -11;
    &.short{
      height: 900px;
    }
  }

  .connector{
    margin: 0 auto;
    position: relative;
    width: 10px;
    height: 600px;
    background-color: $jia-orange;
    z-index: -10;
  }

}
