$jia-orange: rgb(241,176,77);
$link-blue: #0071bc;
$text-grey: #888;

.contact-view{
  .content{
    width: 1000px;
    display: flex;
    >div{
      width: 600px;
    }
    .reach{
      width: 500px;
      margin-bottom: 50px;
      ::-webkit-input-placeholder {
        font-size: 15px;
        font-family: 'Merriweather', serif;
        font-weight: 300;
        font-style: italic;
        color: #CBCBCB;
      }
      .ng-invalid.ng-dirty {
        box-shadow: 0px 0px 2pt 1pt #FA787E;
        border: none;
        border: 1px solid white;
      }
      .ng-valid.ng-dirty {
        box-shadow: 0px 0px 2pt 1pt #78FA89;
        border: 1px solid white;
      }
      .reach-field{
        width: 485px;
        height: 35px;
        padding-left: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid $jia-orange;
        font-size: 15px;
        outline: none;
        &.msg{
          resize: none;
          padding-top: 10px;
          height: 290px;
        }
      }
      .send{
        border: none;
        float: right;
        height: 50px;
        width: 120px;
        background: url('../images/submit.png') 0 0;
        background-repeat: no-repeat;
        background-size: 120px 100px;
        &:focus{
          outline: none;
        }
        &:hover{
          background-position: 0 -50px;
        }
      }
    }

    .info{
      font-size: 16px;
      color: #808080;
      font-weight: 300;
      line-height: 200%;
      .inner{
        width: 420px;
        margin: 0 auto;
        a{
          color: $link-blue;
          font-size: 16px;
          font-weight: 300;
          text-decoration: none;
          &:hover{
            color: $jia-orange;
            cursor: pointer;
          }
        }
      }
      .italic{
        font-style: italic;
      }
      .bold{
        font-weight: 700;
      }
      i{
        display: inline-block;
        margin: 0 5px;
        height: 15px;
        width: 15px;
        &.phone{
          background: url('../images/contact-icons.png') 0 0;
          background-repeat: no-repeat;
          background-size: 15px 75px;
        }
        &.mail{
          background: url('../images/contact-icons.png') 0px -15px;
          background-repeat: no-repeat;
          background-size: 15px 75px;
        }
        &.linkedin{
          background: url('../images/contact-icons.png') 0px -30px;
          background-repeat: no-repeat;
          background-size: 15px 75px;
        }
        &.behance{
          background: url('../images/contact-icons.png') 0px -45px;
          background-repeat: no-repeat;
          background-size: 15px 75px;
        }
        &.facebook{
          background: url('../images/contact-icons.png') 0px -60px;
          background-repeat: no-repeat;
          background-size: 15px 75px;
        }
      }
    }
  }

}
