$jia-orange: rgb(241,176,77);
$link-blue: #0071bc;
$text-grey: #888;

.footer{
  background-color: $jia-orange;
  clear: both;
  height: 80px;
  margin-top: -80px;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 10;
  .footer-links{
    display: flex;
    justify-content: space-around;
    height: 100%;
    line-height: 80px;
    margin: 0 auto;
    max-width: 800px;
    min-width: 600px;
    padding: 0 10px;
    div{
      display: flex;
      align-items: center;
      width: 90px;
      i{
        display: inline-block;
        margin-right: 5px;
        height: 20px;
        width: 20px;
        &.diamond{
          height: 10px;
          width: 10px;
          background: url('../images/diamond.png') 0 0;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 15px 15px;
        }
        &.linkedin{
          background: url('../images/linkedin.png') 0 0;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px 20px;
        }
        &.behance{
          background: url('../images/behance.png') 0 0;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px 20px;
        }
        &.dribbble{
          background: url('../images/dribbble.png') 0 0;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px 20px;
        }
      }
      a{
        color: white;
        font-size: 15px;
        text-decoration: none;
      }
    }
  }
}
