.illustrations-view{
  padding: 0 50px;

  .thumbnail-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 1350px;
    margin: 0 auto;
    div.thumbnail{
      padding: 0;
      height: 200px;
      margin: 20px;
      overflow: hidden;
      a{
        text-decoration: none;
      }
    }
    img.image{
      width: 300px;
    }
    div.overlay{
      background-color: #0497BF;
      display: none;
      opacity: 0.9;
      width: 260px;
      height: 100px;
      position: relative;
      padding: 20px 20px 0 20px;
      div{
        color: white;
        width: 260px;
      }
      .title{
        font-size: 16px;
        margin-bottom: 10px;
      }
      .body{
        font-size: 12px;
      }
      &.show{
        display: block;
        top: -125px;
        animation: show-overlay 0.5s;
        animation-timing-function: cubic-bezier(0.5, 0.2, 0.3, 1.0);
      }
      &.hide{
        animation: hide-overlay 0.5s;
        animation-timing-function: cubic-bezier(0.5, 0.2, 0.3, 1.0);
      }
    }
  }


  .bottom{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    margin: 30px 0;
    a.explore{
      display: block;
      height: 55px;
      width: 200px;
      background: url('../images/explore_ux.png') 0 0;
      background-repeat: no-repeat;
      background-size: 200px;
      &:hover{
        background-position: 0 -56px;
      }
    }
  }
}

@keyframes show-overlay{
  from { top: 0; }
  to { top: -125px; }
}

@keyframes hide-overlay{
  from { top: -125px; }
  to { top: 0; }
}
