.resume-view{
  max-width: 1050px;
  margin: 0 auto;
  margin-bottom: 120px;

  a{
    color: #0071bc;
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
    &:hover{
      color: #fbb03b;
      cursor: pointer;
    }
  }
  p{
    margin: 0;
  }
  ul{
    padding-left: 16px;
    margin-bottom: 20px;
    li{
      margin-bottom: 5px;
    }
  }

  .header-container{
    width: 400px;
    height: 30px;
    display: inline-block;
    margin-bottom: 20px;
    div{
      display: inline-block;
    }
    .name{
      font-size: 26px;
      font-weight: bold;
      color: #bc5d2e;
      margin-right: 10px;
    }
    .pron{
      font-size: 12px;
      .phon{
        font-style: italic;
      }
    }
  }

  .content{
    padding-top: 20px;
    min-height: 520px;
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    margin: 0 auto;
    margin-bottom: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .col{
      height: 470px;
      width: 500px;
      .section-header{
        font-size: 18px;
        font-weight: 400;
      }
      .dot-container{
        width: 100%;
        >div{
          height: 16px;
        }
        .left{
          float: left;
          margin-right: 5px;
        }
        .right{
          float: right;
          margin-left: 5px;
        }
        .dotted{
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          .dots{
            height: 8px;
            border-bottom-style: dotted;
            border-bottom-color: black;
            border-bottom-width: 2px;
          }
        }
      }
    }
    .col2{
      align-self: flex-end;
      .pdf{
        margin-top: 20px;
        float: right;
      }
    }
  }
}
