@import 'root';
@import 'footer';
@import 'illustrations';
@import 'projects';

body{
  margin: 0;
  .wrapper{
    height: auto;
    min-height: 100%
  }
  font-family: 'Merriweather Sans', sans-serif;
}

html{
  overflow-y: scroll;
}

html, body{
  height: 100%;
}

.main-container{
  padding-top: 40px;
  padding-bottom: 60px;
}

.header{
  background: url('../images/header-08.png') 0 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1200px 100px;
  height: 100px;
  width: 100%;
  text-align: center;
  a.home-link{
    display: inline-block;
    height: 100px;
    width: 1200px;
  }
}

.serif{
  font-family: 'Merriweather', serif;
}

.label{
  color: #888;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}
