@import 'root';
@import 'footer';
@import 'showcase';
@import 'projects';
@import 'resume';
@import 'about';
@import 'contact';

$jia-orange: rgb(241,176,77);
$link-blue: #0071bc;
$text-grey: #888;

body{
  margin: 0;
  .wrapper{
    height: auto;
    min-height: 100%
  }
  font-family: 'Merriweather Sans', sans-serif;
}

html{
  overflow-y: scroll;
}

html, body{
  height: 100%;
}

.greyed{
  filter: grayscale(100%);
}

.main-container{
  padding: 40px 60px 60px 60px;
}

.header{
  background: url('../images/header-08.png') 0 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1200px 100px;
  height: 100px;
  width: 100%;
  text-align: center;
  a.home-link{
    display: inline-block;
    height: 100px;
    width: 1200px;
  }
}

.serif{
  font-family: 'Merriweather', serif;
}

.label{
  color: $text-grey;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}
