.projects-view{
  padding: 0 20px;

  .content{
    display: flex;
  }

  .thumbnails-container{
    height: 50px;
    width: 50px;
  }

  .panes-container{
    width: 1000px;
    .pane{
      display: flex;
      height: 500px;
      margin-bottom: 30px;
    }
    .pane-image{
      width: 800px;
      height: auto;
    }
    .pane-text{
      width: 200px;
    }
  }

}
