<div class="aboutme-view">

  <div class="intro">
    <div class="serif label">About Me</div>
  </div>

  <div class="content">

    <div class="moment">
      <img src="/images/aboutme-01.png">
      <p class="caption serif">Grew up in both Taiwan and Minnesota. Exposed to both cultures and languages while being immersed in both palm trees and snow covered forests.</p>
    </div>

    <div class="connector"></div>

    <div class="page blue"></div>

    <div class="moment">
      <img src="/images/aboutme-02.png">
      <p class="caption serif white">Went to a fine arts school in my hometown: Tainan, Taiwan. This is where I learned the foundation to visual arts.</p>
    </div>

    <div class="connector"></div>

    <div class="moment">
      <img src="/images/aboutme-03.png">
      <p class="caption serif">Now I'm at this place where I ride my motorcycle around like a boss.</p>
    </div>

    <div class="connector"></div>

    <div class="page blue short"></div>

    <div class="moment">
      <img src="/images/aboutme-04.png">
      <p class="caption serif white">Also, when I'm not busy motorcycling around like a boss, I moonlight as a designer at Google.</p>
    </div>

  </div>

</div>
