<div class="aboutme-view">

  <div class="intro">
    <div class="serif label">About Me</div>
  </div>

  <div class="content">

    <div class="moment">
      <img src="/images/aboutme-01.png">
      <p class="caption serif">Grew up in both Taiwan and Minnesota. Exposed to both cultures and languages while being immersed in both palm trees and snow covered forests.</p>
    </div>

    <div class="connector"></div>

    <div class="page blue"></div>

    <div class="moment">
      <img src="/images/aboutme-02.png">
      <p class="caption serif white">Went to a fine arts school in my hometown: Tainan, Taiwan. This is where I learned the foundation to visual arts.</p>
    </div>

    <div class="connector"></div>

    <div class="moment">
      <img src="/images/aboutme-03.png">
      <p class="caption serif">I came to San Francisco the summer of 2012 to study Graphic Design at California College of the Arts.</p>
    </div>

    <div class="connector"></div>

    <div class="page blue short"></div>

    <div class="moment">
      <img src="/images/aboutme-04.png">
      <p class="caption serif white">I spent the summer of 2014 in Seattle, as a UX Design intern at Google.</p>
    </div>

  </div>

</div>
