<div class="contact-view">

  <div class="intro">
    <div class="serif label">Say <i>Hey!</i></div>
  </div>

  <div class="content">

    <div class="info serif">
      <div class="inner">
        <div>
          <span class="italic">call me......................</span>
          <i class="phone"></i>
          <a ng-href="{{links.phone}}" class="bold">(415) 738-9592</a>
        </div>

        <div>
          <span class="italic">gchat or email.........</span>
          <i class="mail"></i>
          <a ng-href="{{links.email}}" target="_self" class="bold">chenjengjia@gmail.com</a>
        </div>

        <div>
          <span class="italic">connect with............</span>
          <i class="linkedin"></i>
          <a ng-href="{{links.linkedin}}" class="bold">Linkedin</a>
        </div>

        <div>
          <span class="italic">follow on..................</span>
          <i class="behance"></i>
          <a ng-href="{{links.behance}}" class="bold">Behance</a>
        </div>

        <div>
          <span class="italic">message me.............</span>
          <i class="facebook"></i>
          <a ng-href="{{links.facebook}}" class="bold">Facebook</a>
        </div>
      </div>
    </div>

    <div>

    <form name="form" class="reach">

      <input
        class="reach-field" type="text" placeholder="your name"
        ng-model="name" required
        ng-model-options="{updateOn: 'default blur'}"
        ng-class="{error: nameBad}">
      <input class="reach-field" type="email" placeholder="your email"
        ng-model="email" required
        ng-model-options="{updateOn: 'default blur'}"
        ng-class="{error: emailBad}">
      <div ng-show="form.uEmail.$dirty && form.uEmail.$invalid">Invalid:
        <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
        <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
      </div>
      <textarea class="msg reach-field" type="text" placeholder="short message"
        ng-model="msg" required
        ng-model-options="{updateOn: 'default blur'}"
        ng-class="{error: msgBad}"></textarea>

      <button class="send"
        ng-click="sendMsg()"
        ng-disabled="form.$invalid"></button>

    </form>


  </div>

</div>
