<div class="contact-view">

  <div class="intro">
    <div class="serif label">Say <i>Hey!</i></div>
  </div>

  <div class="content">

    <div class="info serif">
      <div class="inner">
        <div>
          <span class="italic">call me......................</span>
          <i class="phone"></i>
          <span class="bold">(415) 738-9592</span>
        </div>

        <div>
          <span class="italic">gchat or email.........</span>
          <i class="mail"></i>
          <span class="bold">chenjengjia@gmail.com</span>
        </div>

        <div>
          <span class="italic">connect with............</span>
          <i class="linkedin"></i>
          <span class="bold">Linkedin</span>
        </div>

        <div>
          <span class="italic">follow on..................</span>
          <i class="behance"></i>
          <span class="bold">Behance</span>
        </div>

        <div>
          <span class="italic">message me.............</span>
          <i class="facebook"></i>
          <span class="bold">Facebook</span>
        </div>
      </div>
    </div>

    <div class="reach">

      <input type="text" placeholder="your name">
      <input type="text" placeholder="your email">
      <input class="msg" type="text" placeholder="short message">

      <div class="submit"></div>

    </div>


  </div>

</div>
