<div class="contact-view">

  <div class="intro">
    <div class="serif label">Say <i>Hey!</i></div>
  </div>

  <div class="content">

    <div class="info serif">
      <div class="inner">
        <div>
          <span class="italic">call me......................</span>
          <i class="phone"></i>
          <a ng-href="{{links.phone}}" class="bold">(415) 738-9592</a>
        </div>

        <div>
          <span class="italic">gchat or email.........</span>
          <i class="mail"></i>
          <a ng-href="{{links.email}}" target="_self" class="bold">chenjengjia@gmail.com</a>
        </div>

        <div>
          <span class="italic">connect with............</span>
          <i class="linkedin"></i>
          <a ng-href="{{links.linkedin}}" class="bold">Linkedin</a>
        </div>

        <div>
          <span class="italic">follow on..................</span>
          <i class="behance"></i>
          <a ng-href="{{links.behance}}" class="bold">Behance</a>
        </div>

        <div>
          <span class="italic">message me.............</span>
          <i class="facebook"></i>
          <a ng-href="{{links.facebook}}" class="bold">Facebook</a>
        </div>
      </div>
    </div>

    <div class="reach">

      <input class="reach-field" type="text" placeholder="your name">
      <input class="reach-field" type="text" placeholder="your email">
      <textarea class="msg reach-field" type="text" placeholder="short message"></textarea>

      <div class="submit"></div>

    </div>


  </div>

</div>
