<div class="footer">

  <div class="footer-links">
    <div>
      <i class="diamond"></i>
      <a href="/#/about">About Me</a>
    </div>
    <div>
      <i class="diamond"></i>
      <a href="/#/contact">Contact</a>
    </div>
    <div>
      <i class="diamond"></i>
      <a href="/#/resume">Resume</a>
    </div>
    <div>
      <i class="linkedin"></i>
      <a target="_blank" ng-href="{{links.linkedin}}">Linkedin</a>
    </div>
    <div>
      <i class="behance"></i>
      <a target="_blank" href="{{links.behance}}">Behance</a>
    </div>
    <div>
      <i class="instagram"></i>
      <a target="_blank" href="{{links.instagram}}">Instagram</a>
    </div>
  </div>

</div>
