<div class="footer">

  <div class="footer-links">
    <div>
      <i class="diamond"></i>
      <a href="/#/about">About Me</a>
    </div>
    <div>
      <i class="diamond"></i>
      <a href="/#/contact">Contact</a>
    </div>
    <div>
      <i class="diamond"></i>
      <a href="/#/resume">Resume</a>
    </div>
    <div>
      <i class="linkedin"></i>
      <a target="_blank" href="https://www.linkedin.com/profile/view?id=238830272">Linkedin</a>
    </div>
    <div>
      <i class="behance"></i>
      <a target="_blank" href="https://www.behance.net/jiajiachen">Behance</a>
    </div>
    <div>
      <i class="dribbble"></i>
      <a target="_blank" href="https://dribbble.com/jiajiachen">Dribbble</a>
    </div>
  </div>

</div>
