<div class="projects-view">

  <div class="intro">
    <div class="serif label">{{current.title}}</div>
  </div>

  <div class="content">
    <div class="thumbnails-container">
      <div ng-repeat="(id, project) in projects">
        <a class="project-thumbnails" ng-style="thumbnailStyle(id)" ng-class="{'clicked': currentId === id}" ng-class="project-{{id}}" ng-href="/#/{{label}}/projects/{{id}}"></a>
      </div>
    </div>

    <div class="thumbnails-spacer"></div>

    <div class="panes-container">
      <div ng-repeat="pane in current.panes">
        <div class="pane">
          <div class="pane-image"><img ng-src="../images/{{pane.image}}"></div>
          <div class="pane-text" ng-bind-html="pane.text"></div>
        </div>
      </div>
    </div>
  </div>

</div>
