<div class="resume-view serif">


    <div class="content">

      <div class="col col1">

        <div class="header-container">
          <div class="name">JENG•JIA•CHEN</div>
          <div class="pron">(Jiajia Chen) / <span class="phon">jô-jô chén</span></div>
        </div>

        <p>
          For me design is the process of creating functional, aesthetically appropriate, and sustainable solutions. I am resourceful and adaptive and learn and thrive in a variety of environments. I am inspired by classical typography, Art Nouveau flourishes, as well as good design in the world around me. In addition to human centric designs, I am passionate about musicals, modern ballet, and calligraphy.
        </p>

        <ul>
          <li>Fast-learning, hard-working, and resourceful designer</li>
          <li>Efficient and flexible employee that produces high-quality work</li>
          <li>Hand lettering and illustration skills</li>
          <li>HTML, CSS, Javascript and Processing skills</li>
          <li>Fluent in English and Mandarin</li>
        </ul>

        <div class="section-header">Education</div>
        <ul>
          <li>Bachelor of Arts in Graphic Design California College of the Arts, 2012—(2015)</li>
          <li>2014 Adobe Design Achievement Awards, Packaging</li>
          <li>2012 CCA International Creative Achievement Award</li>
          <li>Relevant Coursework: Interaction Design, Graphic Design, Typography</li>
        </ul>
      </div>

      <div class="col col2">
        <div class="section-header">Experience</div>
        <ul>
          <li>
            <span>UX Design Intern</span></br>
            <div class="dot-container">
              <div class="left">Google Inc., New York, NY</div>
              <div class="right">2015</div>
              <div class="dotted"><div class="dots"></div></div>
            </div>
          </li>
          <li>
            <span>Design Intern</span></br>
            <div class="dot-container">
              <div class="left">Cotap Inc., San Francisco, CA</div>
              <div class="right">2014</div>
              <div class="dotted"><div class="dots"></div></div>
            </div>
          </li>
          <li>
            <span>In-house Graphic Designer</span></br>
            <div class="dot-container">
              <div class="left">Sputnik, California College of the Arts, San Francisco, CA</div>
              <div class="right">2014</div>
              <div class="dotted"><div class="dots"></div></div>
            </div>
          </li>
          <li>
            <span>UX Design Intern</span></br>
            <div class="dot-container">
              <div class="left">Google Inc., Seattle, WA</div>
              <div class="right">2014</div>
              <div class="dotted"><div class="dots"></div></div>
            </div>
          </li>
          <li>
            <span>Design Intern</span></br>
            <div class="dot-container">
              <div class="left">Crowdtilt Inc., San Francisco, CA</div>
              <div class="right">2013</div>
              <div class="dotted"><div class="dots"></div></div>
            </div>
          </li>
          <li>
            <span>Visual and Interaction Design</span></br>
            <div class="dot-container">
              <div class="left">Spire Inc., Technology Lab of Stanford University, San Francisco, CA</div>
              <div class="right">2013</div>
              <div class="dotted"><div class="dots"></div></div>
            </div>
          </li>
          <li>
            <span>App Designer</span></br>
            <div class="dot-container">
              <div class="left">Skyfad Software Inc., Taipei, Taiwan & San Francisco, CA</div>
              <div class="right">2013</div>
              <div class="dotted"><div class="dots"></div></div>
            </div>
          </li>
        </ul>

        <div class="section-header">Non-Profit Volunteer</div>
        <ul>
          <li>
            <span>Graphic & Web Designer</a></br>
            <div class="dot-container">
              <div class="left">Tax-Aid, San Francisco, CA</div>
              <div class="right">2014</div>
              <div class="dotted"><div class="dots"></div></div>
            </div>
          </li>
          <li>
            <span>Reception Desk, Canteen, Phone Services Volunteer</span></br>
            <div class="dot-container">
              <div class="left">American Red Cross, Oakland, CA</div>
              <div class="right">2013</div>
              <div class="dotted"><div class="dots"></div></div>
            </div>
          </li>
        </ul>

        <a class="pdf" target="_blank" href="/downloads/jengjiaresume-current.pdf">Download PDF</a>
      </div>

    </div>


</div>
