<div class="resume-view serif">

  <div class="header-container">
    <div class="name">JENG•JIA•CHEN</div>
    <div class="pron">(Jiajia Chen) / <span class="phon">jô-jô chén</span></div>
  </div>

  <div class="content">

    <p>
      User Experience designer with strong visual design background. Advanced proficiency in Adobe software and sufficient in basic programming. Possesses exceptional ability to create realistic painting and digital ornamental illustrations. Native proficiency in written and verbal communication in English and Mandarin.
    </p>

    <ul>
      <li>Fast-learning and hard-working designer</li>
      <li>Efficient employee that produces high-quality work</li>
      <li>Confident Adobe Creative Suite and Fireworks abilities</li>
      <li>HTML, CSS, Javascript and Processing skills</li>
      <li>Fluent in English and Mandarin</li>
    </ul>

    <div class="section-header">Education</div>
    <ul>
      <li>Bachelor of Arts in Graphic Design California College of the Arts, 2012—(2015)</li>
      <li><a>2014 Adobe Design Achievement Awards, Packaging</a></li>
      <li>2012 CCA International Creative Achievement Award</li>
      <li>Relevant Coursework: Interaction Design, Graphic Design, Typography</li>
    </ul>

    <div class="section-header">Experience</div>
    <ul>
      <li>
        <a>UX Design Intern</a></br>
        <div class="dot-container">
          <div class="left">Google Inc., Seattle, WA</div>
          <div class="right">2014</div>
          <div class="dotted"></div>
        </div>
      </li>
      <li>
        <a>Design Intern</a></br>
        <div class="dot-container">
          <div class="left">Crowdtilt Inc., San Francisco, CA</div>
          <div class="right">2013</div>
          <div class="dotted"></div>
        </div>
      </li>
      <li>
        <a>Visual and Interaction Design</a></br>
        <div class="dot-container">
          <div class="left">Spire Inc., Technology Lab of Stanford University, San Francisco, CA</div>
          <div class="right">2013</div>
          <div class="dotted"></div>
        </div>
      </li>
      <li>
        <a>App Designer</a></br>
        <div class="dot-container">
          <div class="left">Skyfad Software Inc., Taipei, Taiwan & San Francisco, CA</div>
          <div class="right">2013</div>
          <div class="dotted"></div>
        </div>
      </li>
      <li>
        <a>Web Design Instructor</a></br>
        <div class="dot-container">
          <div class="left">Galileo Summer Quest, Lafayette, CA</div>
          <div class="right">2013</div>
          <div class="dotted"></div>
        </div>
      </li>
    </ul>

    <div class="section-header">Non-Profit Volunteer</div>
    <ul>
      <li>
        <a>Graphic & Web Designer</a></br>
        <div class="dot-container">
          <div class="left">Tax-Aid, San Francisco, CA</div>
          <div class="right">2014</div>
          <div class="dotted"></div>
        </div>
      </li>
      <li>
        <a>Reception Desk, Canteen, Phone Services Volunteer</a></br>
        <div class="dot-container">
          <div class="left">American Red Cross, Oakland, CA</div>
          <div class="right">2013</div>
          <div class="dotted"></div>
        </div>
      </li>
    </ul>

  </div>

  <div class="pdf"><a href="/downloads/jengjiaresume-current.pdf">Download PDF</a></div>


</div>
