<div class="root-view">
  <div class="intro">
    <div class="serif">Hi there.</div>
    <div>I go by Jiajia. Sometimes I design, sometimes I draw.</div>
  </div>

  <div class="circles">

    <div class="container">
      <div class="ux">
        <div class="label">UX & UI</div>
        <img src="../images/img_trans.gif">
      </div>

      <div class="illustrations">
        <div class="label">Illustrations</div>
        <img src="../images/img_trans.gif">
      </div>
    </div>

  </div>

</div>
