<div class="root-view">
  <div class="intro">
    <div class="serif">Hi there.</div>
    <div>I go by Jiajia. Sometimes I design, sometimes I draw.</div>
  </div>

  <div class="circles">

    <div class="container">
      <div class="ux">
        <div class="label serif">UX & UI</div>
        <a href="/#/uxui"></a>
      </div>

      <div class="illustrations">
        <div class="label serif">Visual Design</div>
        <a href="/#/illustrations"></a>
      </div>
    </div>

  </div>

</div>
