<div class="illustrations-view">

  <div class="intro">
    <div class="serif label">{{title}}</div>
  </div>

  <div class="thumbnail-container">
    <div class="thumbnail" ng-repeat="image in illustrations track by $index" ng-mouseover="showOverlay = true" ng-mouseleave="showOverlay = false">
      <a href="/#/projects/19">
        <img class="image" ng-src="../images/{{image}}">
        <div class="overlay" ng-class="{'show': showOverlay === true, 'hide': showOverlay === false}">
          <div class="title serif">Fun Project Title</div>
          <div class="body">Little text like this can explain each image within the project. For example, "This is an early exploration that led to xoxoxo."</div>
        </div>
      </a>
    </div>
  </div>

  <div class="bottom">
    <a class="explore" ng-class="buttonClass" ng-href="{{buttonLink}}"></a>
  </div>

</div>
