<div class="illustrations-view">

  <div class="intro">
    <div class="serif label">{{title}}</div>
  </div>

  <div class="thumbnail-container">
    <div class="thumbnail" ng-repeat="project in projects track by $index" ng-mouseover="showOverlay = true" ng-mouseleave="showOverlay = false">
      <a ng-href="/#/{{section}}/projects/{{project.id}}">
        <img class="image" ng-src="../images/{{project.image}}">
        <div class="overlay" ng-class="{'show': showOverlay === true, 'hide': showOverlay === false}">
          <div class="title serif">{{project.title}}</div>
          <div class="body">{{project.text}}</div>
        </div>
      </a>
    </div>
  </div>

  <div class="bottom">
    <a class="explore" ng-class="buttonClass" ng-href="{{buttonLink}}"></a>
  </div>

</div>
